*.swp
**/.metadata/
**/bin/
**/.settings*.swp
**/.recommenders/
**/.settings/
**/*~
**/#*#
**/.#*
**/.vscode
**/CMakeLists.txt.user
**/CMakeFiles
**/build-*/
**/afl_*/
**/*.out
**/*.o
**/DebugBuild/
**/ReleaseBuild/
MyTests/